.jumbotron{
  background-color: rgba(253, 227, 167, 1);

}

body {

    background-color: #f2f2f2;
    /*#f2f2f2*/
    /*#384454*/
/*    font-family: arial;
    font-color: #f2f2f2;*/

}

.li-navbar{
	padding-right: 35px;

}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #25936e;
}


hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #cbbcbc;
}

th {
	cursor: pointer;
}

.navbar-inverse .navbar-nav>.pill-red>a, .navbar-inverse .navbar-nav>.pill-red>a:focus, .navbar-inverse .navbar-nav>.pill-red>a:hover {
    background-color: #932534;
}
